<div class="cover"></div>
<div class="compare-popup">
  <div class="compare-popup__header clearfix">
    <img src="media/img/images/logo-salesforce.png" alt="">
    <p>
      <span>Salesforce</span>
      Cloud-based CRM &<br> Sales Automation
    </p>
  </div>
  <!-- compare-popup__header -->

  <div class="compare-popup__features">
    <h4>Features</h4>

    <div class="compare-popup__feature">
      <div class="feature-label">Features</div>
      <div class="feature-scale">
        <div class="feature-meter">
          <div class="feature-bar feature-bar--features"></div>
        </div>
      </div>
      <div class="feature-buttons">
        <span class="feature-down"></span>
        <span class="feature-up"></span>
      </div>
    </div>

    <div class="compare-popup__feature">
      <div class="feature-label">Friendly</div>
      <div class="feature-scale">
        <div class="feature-meter">
          <div class="feature-bar feature-bar--friendly"></div>
        </div>
      </div>
      <div class="feature-buttons">
        <span class="feature-down"></span>
        <span class="feature-up"></span>
      </div>
    </div>

    <div class="compare-popup__feature">
      <div class="feature-label">Price</div>
      <div class="feature-scale">
        <div class="feature-meter">
          <div class="feature-bar feature-bar--price"></div>
        </div>
      </div>
      <div class="feature-buttons">
        <span class="feature-down"></span>
        <span class="feature-up"></span>
      </div>
    </div>

    <div class="compare-popup__feature">
      <div class="feature-label">Support</div>
      <div class="feature-scale">
        <div class="feature-meter">
          <div class="feature-bar feature-bar--support"></div>
        </div>
      </div>
      <div class="feature-buttons">
        <span class="feature-down"></span>
        <span class="feature-up"></span>
      </div>
    </div>

    <div class="compare-popup__feature">
      <div class="feature-label">Overall</div>
      <div class="feature-scale">
        <div class="feature-meter">
          <div class="feature-bar feature-bar--overall"></div>
        </div>
      </div>
      <div class="feature-buttons">
        <span class="feature-down"></span>
        <span class="feature-up"></span>
      </div>
    </div>

  </div>
  <!-- /.compare-popup__features -->

  <span class="popup-close js-popup-close">

  </span>
</div>
