<div class="cover"></div>
<div class="compare-popup">
  <div class="compare-popup__header">
    <img src="media/img/images/logo-salesforce.png" alt="">
    <p>
      <span>Salesforce</span>
      Cloud-based CRM & Sales Automation
    </p>
  </div>
  <!-- compare-popup__header -->

  <div class="compare-popup__features">
    <h4>Features</h4>

    <div class="compare-popup__feature">
      <div class="feature-label">Features</div>
      <div class="feature-scale feature-scale--yellow"></div>
      <div class="feature-buttons">
        <span class="feature-up"></span>
        <span class="feature-down"></span>
      </div>
    </div>

  </div>
  <!-- /.compare-popup__features -->
</div>
