<div class="header-pane flex-block">
  <div class="header-image-block center">
    <img class='header-image main-menu'  src='media/img/icons/main-white-menu.png'>
    <a href="/">
      <img class='header-image' src='media/img/icons/logo.png'>
    </a>
  </div>
  <div class="center">
    <div class="search-input-form  radius_20">
      <input type='text' class='search-input radius_20' />
      <div class="search-button">Search</div>
    </div>
  </div>
  <div class="header-btns center">
    <button class='btn login-btn radius_15'><img class='button-image'  src='media/img/icons/profile-icon.png'> Login</button>
    <button class='btn white-btn radius_15'>Create an Account</button>
  </div>
</div>
