<div class="header-pane flex-block">

	<div class="header-image-block center">
		<img class='header-image main-menu' height='25' width='30' src='media/img/icons/main-white-menu.png'>
		<a href="/">
			<img class='header-image' height='30' src='media/img/icons/logo.png'>
		</a>


	</div>

	<div class="header-btns center">
		<button class='btn login-btn radius_15'><img class='button-image' height='15' src='media/img/icons/profile-icon.png'> Login</button>
		<button class='btn white-btn radius_15'>Create an Account</button>
	</div>

</div>
