<div class="header-pane flex-block">
						
	<div class="header-image-block center">
		<img class='header-image main-menu' height='25' width='30' src='media/img/icons/main-white-menu.png'>
		<img class='header-image' height='30' src='media/img/icons/logo.png'>


	</div>
	<div class="center">
		<div class="search-input-form  radius_20">
			<input type='text' class='search-input radius_20'/> <div class="search-button">Search</div> 
	    </div>
	</div>

	<div class="header-btns center">
		<button class='btn login-btn radius_15'><img class='button-image' height='15' src='media/img/icons/profile-icon.png'> Login</button>
		<button class='btn white-btn radius_15'>Create an Account</button>
	</div>

</div>

<div class='title-pane flex-block'>
	<div class="title-left-block">
		<img class='title-image' height='40' src='media/img/icons/header-glass.png'>
		<H2 class='page-title-text'>COLLABORATION</H2>
	</div>
	<div class="">
		<img class='title-image' height='80' src='media/img/images/header.jpg'>
	</div>
</div>
				