
<!--<div class='header-pane'>
	<img class='header-image' height='30' src='media/img/icons/main-white-menu.png'>
	<img class='header-image' height='35' src='media/img/icons/logo.png'>

	<div class="search-input-form  radius_20">
		<input type='text' class='search-input radius_20'/> <div class="search-button">Search</div> 
    </div>
	<button class='btn login-btn radius_15'><img class='button-image' height='20' src='media/img/icons/profile-icon.png'> Login</button>
	<button class='btn white-btn radius_30'>Create an Account</button>
</div>-->


<header class="header clearfix header-pane">
						
	<div class="col-md-3 col-sm-3 col-xs-6">
		<img class='header-image' height='25' width='30' src='media/img/icons/main-white-menu.png'>
		<img class='header-image' height='30' src='media/img/icons/logo.png'>


	</div>
	<div class="col-md-4 col-sm-4 col-xs-6">
		<div class="search-input-form  radius_20">
			<input type='text' class='search-input radius_20'/> <div class="search-button">Search</div> 
	    </div>
	</div>

	<div class="col-md-5 col-sm-5 col-xs-12 text-center">
		<button class='btn login-btn radius_15'><img class='button-image' height='15' src='media/img/icons/profile-icon.png'> Login</button>
		<button class='btn white-btn radius_15'>Create an Account</button>
	</div>

</header>

<div class='title-pane panel panel-default'>
	<div class="panel-body no-indent">

	<!--<div class="col-md-12 col-sm-12 content title-pane">
		<div class="content-inner">
			<div class="row">-->
		<div class="col-md-4 col-sm-4 col-xs-12 text-left">
			<div class='indented'>
				<img class='title-image' height='40' src='media/img/icons/header-glass.png'>
				<div class='page-title'>
					<label class='page-title-text'>OVERVIEW</label>
					<img class='title-image' height='3' src='media/img/icons/red-line.png'>
				</div>
			</div>
		</div>
		<div class="col-md-8 col-sm-8 col-hidden-xs">
			<img class='title-image' height='80' src='media/img/images/header.jpg'>
		</div>
	</div>
</div>
				