
<div class="sidebar">
	<ul class="sidemenu">
		<li class="user-img"><a href="#"><img src="/media/img/images/alex-little.jpg" width="40" height="40"/> <span class="user-name radius_8">Alex85</span></a></li>
		<li><a href="#"><img src="/media/img/icons/categories.png" width="35" height="30"/> <span>Categories</span></a></li>
		<li><a href="#"><img src="/media/img/icons/home.png" width="34" height="34"/> <span>Home</span></a></li>
		<li><a href="#"><img src="/media/img/icons/brand.png" width="30" height="30"/> <span>Brands</span></a></li>
		<li><a href="#"><img src="/media/img/icons/doscover.png" width="33" height="30"/> <span>Discover</span></a></li>
		<li><a href="#"><img src="/media/img/icons/compare.png" width="31" height="30"/> <span>Compare</span></a></li>
		<li><a href="app-page1.html"><img src="/media/img/icons/doscover.png" width="33" height="30"/> <span>AppPage</span></a></li>
		<li><a href="search-result.html"><img src="/media/img/icons/compare.png" width="31" height="30"/> <span>SearchResult</span></a></li>
	</ul>
</div><!-- sidebar -->