
<div class="sidebar">
	<ul class="sidemenu">
		<li class="user-img"><a href="#"><img src="media/img/images/alex-little.jpg" width="40" height="40"/> <span class="user-name radius_8">Alex85</span></a></li>
		<li><a href="categories.html"><img src="media/img/icons/categories.png" width="35" height="30"/> <span>Categories</span></a></li>
		<li><a href="/"><img src="media/img/icons/home.png" width="34" height="34"/> <span>Home</span></a></li>
		<li><a href="brands.html"><img src="media/img/icons/brand.png" width="30" height="30"/> <span>Brands</span></a></li>
		<li><a href="discover.html"><img src="media/img/icons/discover.png" width="33" height="30"/> <span>Discover</span></a></li>
		<li><a href="#"><img src="media/img/icons/compare.png" width="31" height="30"/> <span>Compare</span></a></li>
		<li><a href="#"><img src="media/img/icons/discover.png"  height="30"/> 
			<span class="menu__sublist-title">Last search</span></a>
			<ul class="menu__sublist">
				<li><a href="#">tag app</a></li>
			</ul>
		</li>
		<li><a href="#"><img src="media/img/icons/last-results.png" width="31" height="30"/> 
			<span class="menu__sublist-title">Last results</span></a>
			<ul class="menu__sublist">
				<li><a href="#">test app ven</a></li>
				<li><a href="#">support</a></li>
				<li><a href="#">support</a></li>
				<li><a href="#">support</a></li>
				<li><a href="#">support</a></li>
			</ul>
		</li>
    <!-- sidebar<li><a href="overview.html"><img src="media/img/icons/compare.png" width="31" height="30"/> <span>Overview</span></a></li>
		<li><a href="claim-your-business.html"><img src="media/img/icons/discover.png" width="33" height="30"/> <span>Claim your business</span></a></li>
		<li><a href="claiming.html"><img src="media/img/icons/discover.png" width="33" height="30"/> <span>Claiming</span></a></li>
		<li><a href="app-page1.html"><img src="media/img/icons/discover.png" width="33" height="30"/> <span>AppPage</span></a></li>
		<li><a href="app-page2.html"><img src="media/img/icons/compare.png" width="31" height="30"/> <span>AppPage2</span></a></li>
		<li><a href="profile-open.html"><img src="media/img/icons/compare.png" width="31" height="30"/> <span>Profile-open</span></a></li>
		<li><a href="search-result-close.html"><img src="media/img/icons/compare.png" width="31" height="30"/> <span>SearchResult-close</span></a></li>
		<li><a href="search-result.html"><img src="media/img/icons/compare.png" width="31" height="30"/> <span>SearchResult</span></a></li> -->
	</ul>
</div>
