
<div class="sidebar sidebar--mail">
						<div class="user-top-block utb-sm-w64p">
							<div class="utp-img">
								<a href="#"><img src="/media/img/images/alex-little.jpg" alt="" /></a>
							</div><!-- utp-img -->
							<span class="utp-name">Alex</span>
						</div><!-- user-top-block -->
	<ul class="sidemenu">
		<li><a href="#"><img src="/media/img/icons/home.png" width="24" height="24"/> <span>Home</span></a></li>
		<li><a href="#"><img src="/media/img/icons/categories.png" width="25" height="20"/> <span>Categories</span></a></li>
		<li><a href="#"><img src="/media/img/icons/brand.png" width="20" height="20"/> <span>Brands</span></a></li>
		<li><a href="#"><img src="/media/img/icons/doscover.png" width="23" height="20"/> <span>Discover</span></a></li>
		<li><a href="#"><img src="/media/img/icons/compare.png" width="21" height="20"/> <span>Compare</span></a></li>
	</ul>
</div><!-- sidebar -->