.app-page-bottom-selectors a {
  display: inline-block;
  background-color: transparent;
  margin: calc(8px / 1.5) 0 !important;
  padding: calc(5px / 1.5) calc(15px / 1.5);
  text-decoration: none;
  color: #282f39;
  border: 1px solid #282f39;
  float: left;
  @media (max-width: 600px) {
    padding: calc(5px / 1.5);
  }
  @media (max-width: 360px) {
    font-size: calc(13px / 1.5);
  }
}

.app-page-bottom-selectors a:hover,
.app-page-bottom-selectors a.selected {
  color: #f8f8f8;
  background-color: #282f39;
}

.app-page-bottom-selectors a:last-child {
  -webkit-border-top-right-radius: calc(10px / 1.5);
  border-top-right-radius: calc(10px / 1.5);
  -moz-border-top-right-radius: calc(10px / 1.5);
  -webkit-border-bottom-right-radius: calc(10px / 1.5);
  border-bottom-right-radius: calc(10px / 1.5);
  -moz-border-bottom-right-radius: calc(10px / 1.5);
}

.app-page-bottom-selectors a:first-child {
  -webkit-border-top-left-radius: calc(10px / 1.5);
  border-top-left-radius: calc(10px / 1.5);
  -moz-border-top-left-radius: calc(10px / 1.5);
  -webkit-border-bottom-left-radius: calc(10px / 1.5);
  border-bottom-left-radius: calc(10px / 1.5);
  -moz-border-bottom-left-radius: calc(10px / 1.5);
}

.app-page-block {
  display: block;
  overflow: hidden;
  margin-left: calc(250px / 1.5);
  border: 1px solid #dcdadb;
  background-color: white;
  @media (max-width: 1260px) {
    margin-left: calc(150px / 1.5);
  }
  @media (max-width: 600px) {
    margin: calc(0px / 1.5);
  }
}

.app-page-block-footer {
  // position: fixed;
  // bottom: calc(0px / 1.5);
  background-color: #7b8a9f;
  -webkit-border-bottom-right-radius: calc(10px / 1.5);
  border-bottom-right-radius: calc(10px / 1.5);
  -moz-border-bottom-right-radius: calc(10px / 1.5);
  -webkit-border-bottom-left-radius: calc(10px / 1.5);
  border-bottom-left-radius: calc(10px / 1.5);
  -moz-border-bottom-left-radius: calc(10px / 1.5);
}

.app-page-block-footer div {
  padding-top: calc(10px / 1.5);
  padding-right: calc(20px / 1.5);
  padding-bottom: calc(20px / 1.5);
  padding-left: calc(20px / 1.5);
  @media (max-width: 850px) {
    padding: calc(10px / 1.5);
  }
}

.app-page-content {
  overflow: hidden;
  margin: calc(20px / 1.5);
}

.app-page-block-title {
  display: block;
  white-space: nowrap;
  flex-grow: 1;
  &:after {
    content: '';
    display: inline-block;
    position: relative;
    top: -0.25em;
    left: 1.75%;
    z-index: 0;
    width: 100%;
    border-top: 1px solid #cbcbcb;
  }
}

.app-page-block-text {
  margin: calc(20px / 1.5) 0;
  margin-left: calc(100px / 1.5);
  @media (max-width: 1260px) {
    margin-left: calc(70px / 1.5);
  }
  @media (max-width: 600px) {
    margin-left: calc(20px / 1.5);
  }
}

.red-markers-list {
  margin-top: calc(20px / 1.5);
  list-style-position: inside;
}

.red-markers-list li {
  list-style-type: disc;
  color: #f7395d;
}

.list-text {
  color: #282f39;
}

.app-page-blocks-group {
  padding-top: calc(10px / 1.5);
}

.app-page-blocks-group .searchresults-block {
  @media (max-width: 850px) {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.app-page-blocks-group .searchresults-block-text {
  @media (max-width: 850px) {
    border-left: none;
    border-top-width: calc(3px / 1.5);
    border-top-style: solid;
  }
}

/*links in the left side of page*/
.tab-container {
  width: auto;
  margin: calc(20px / 1.5) 0 0 0;
  @media (min-width: 600px) {
    float: left;
    width: calc(150px / 1.5);
  }
  @media (min-width: 1260px) {
    float: left;
    width: calc(250px / 1.5);
  }
}

.tab-container ul {
  list-style: none;
  text-align: center;
}

.tab-container ul li {
  background-color: transparent;
}

.tab-container ul li a {
  display: block;
  margin: calc(8px / 1.5) 0;
  padding: calc(5px / 1.5) calc(15px / 1.5);
  text-decoration: none;
  color: inherit;
  border: 1px solid #282f39;
  border-right: none !important;
  -webkit-border-top-left-radius: calc(10px / 1.5);
  border-top-left-radius: calc(10px / 1.5);
  -webkit-border-bottom-left-radius: calc(10px / 1.5);
  border-bottom-left-radius: calc(10px / 1.5);
  -moz-border-top-left-radius: calc(10px / 1.5);
  -moz-border-bottom-left-radius: calc(10px / 1.5);
  @media (max-width: 600px) {
    border-radius: calc(10px / 1.5);
    -webkit-border-radius: calc(10px / 1.5);
    -moz-border-radius: calc(10px / 1.5);
    border-right: 1px solid #282f39 !important;
  }
}

.tab-container ul li:hover a,
.tab-container ul li a.selected {
  color: #f8f8f8;
  background-color: #282f39;
}

/*carousel for app-page2*/
.carousel-selected-image img {
  @media (max-width: 1100px) {
    width: 100%;
    height: auto;
  }
  @media (min-width: 1100px) {
    height: calc(450px / 1.5);
    width: auto;
  }
}

.carousel {
  position: relative;
  width: auto;
  padding: calc(10px / 1.5) calc(40px / 1.5);
  margin: calc(10px / 1.5) 0;
}

.carousel li img {
  width: calc(140px / 1.5);
  height: calc(100px / 1.5);
  display: block;
  margin: calc(0px / 1.5) calc(10px / 1.5);
  cursor: pointer;
  border: calc(2px / 1.5) solid transparent;
}

.carousel li img:hover,
.carousel li img.selected {
  border-color: #7B8A9F;
}

.gallery {
  width: auto;
  overflow: hidden;
}

.gallery ul {
  width: calc(9999px / 1.5);
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
}

.gallery li {
  display: inline-block;
}

/*arrows for carousel*/
.arrow {
  position: absolute;
  top: calc(50px / 1.5);
  padding: 0;
  display: block;
  cursor: pointer;
}

.arrow:focus {
  outline: none;
}

.prev {
  left: calc(7px / 1.5);
  opacity: 0.3;
}

.next {
  right: calc(7px / 1.5);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}




.full-width-block.column-block {
  width: 100%;
  clear: both;

  div {
    flex-grow: 0;
  }

  .column-block-text {
    flex-grow: 1;
  }
}

.app-page-logo-images {
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  font-weight: 600;

  div {
    margin: 0 15px;

    @media (max-width: 850px) {
      margin: 0 auto;
    }
  }

  img {
    width: auto;
    height: 60px;

    margin: 25px;

    @media (max-width: 850px) {
      height: 50px;
      
      margin: 15px;
    }
  }

}

.little-images{
  img {
    height: 35px;
    width: auto;
    margin: 15px;
  }

  a {
    cursor: default;
  }
}

.app-page-logo-images .vertical-subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100px;
    text-align: center;
}

.app-page-checkboxes-block {
  white-space: nowrap;

  input[type="checkbox"]{

    & + label{
      border-radius: 50%;
      border-style: solid;
      border-width: 1px;
      border-color: rgb(191, 206, 227);
      box-shadow: inset 1.805px -2.396px 4.14px 1.86px rgba(104, 102, 102, 0.125);

      @media screen and (max-width: 1260px) {
        height: calc(25px / 1.5);
        width: calc(25px / 1.5);

        border-radius: 50%;
        box-shadow: inset 1.805px -2.396px 4.14px 1.86px rgba(104, 102, 102, 0.125);
        margin: 5px;
      }
      @media (max-width: 600px) {
        margin: 20px;
      }
    }

    &:checked + label:before {
      @media (max-width: 1260px) {
        left: calc(5px / 1.5);

        width: calc(24px / 1.5);
        height: calc(18px / 1.5);
      }
    }


    @media (max-width: 1260px) {
      width: 100%;
      height: auto;
    }
  }
}



.block-with-bottom-btns {

  .searchresults-block-text {
    padding-top: 15px;
    padding-bottom: 15px;

    @media (min-width: 1100px) {
      padding: 20px;
    }
    @media (max-width: 600px) {
      margin-top: 10px;
    }
  }
  .searchresults-block-btns {
      align-self: flex-end;
  }
}

a.blue-link {
    text-decoration: none;
    border-bottom: 1px #3A7CF6 solid;
    color: #3A7CF6;
}

.faq-block {
  border: 1px solid #DCDADB;
  margin: 20px 0;
  .searchresults-block {
    margin: 0;
    border: none;
    border-bottom: 1px solid #DCDADB;
  }
  .searchresults-block-text {
    border: none;
    padding: 10px 0;

    text-align: left;
  }
}

.faq-answer {
    padding: 15px;
    height: auto;
    display: none;
}

.searchresults-block-text .searchresults-block-name {
  margin: 0 0 15px 0;
  border: none;
}

.review-with-bottom-btns {
  .searchresults-block-text {
    position: relative;
    z-index: 3;
    margin: 5px;
    margin-bottom: 15px;

    border: none;
  }
  .searchresults-block-btns {
    position: absolute;
    bottom: 10px;
    z-index: 4;
    right: 3px;
  }
}

.searchresults-block .expand-answer-btn {
  margin: 0;
  background: url(../img/icons/red-plus.png) center no-repeat;
  background-size: cover;
}

.searchresults-block .expand-answer-btn.hide-answer {
  background: url(../img/icons/red-minus.png) center no-repeat;
  background-size: cover;
}

.review-with-bottom-btns.person-review {
  @media (max-width: 1050px) {
    margin-bottom: calc(25px / 1.5)
  }
}
.review-with-bottom-btns.person-review:after {
    top: 60px;
    left: -35px;

    @media (min-width: 1260px) {
      top: 90px;
      left: -40px;
    }

    @media (max-width: 600px) {
      top: 50px;
      left: 70%;
      transform: rotate(-40deg);
      -webkit-transform: rotate(-40deg);
    }
  }


.review-author-image {
  justify-content: flex-end;
  margin-bottom: 15px;

  .little-circle {
    width: calc(70px / 1.5);
    height: calc(70px / 1.5);
    flex-basis: calc(70px / 1.5);
    @media (max-width: 1260px) {
      width: calc(50px / 1.5);
      height: calc(50px / 1.5);
      flex-basis: calc(50px / 1.5);
    }
    img {
      margin: calc(40px / 1.5) 0;
      width: 65%;
      @media (max-width: 1260px) {
        margin: calc(25px / 1.5) 0;
        width: calc(30px / 1.5);
      }
    }
  }
}

.app-page__label-item {
  opacity: 0.5;
}

.app-page__label-item.selected {
  opacity: 1;
}