.claim-business-content {
  padding-top: 120px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  text-align: center;

  background-color: white;
  @media screen and (max-width: 800px) {
    padding-top: 50px;
  }
  @media screen and (max-width: 450px) {
    padding-top: 30px;
  }
}

.link-in-picture {
  position: absolute;
  left: -30px;
}

.searchresult-pane {
  text-align: left;
  border: 1px solid #E4E4E4;
  border-top: none;
  background-color: white;
  color: #679EEB;
  position: absolute;
  top: 40px;
  z-index: 2;
  padding-top: 50px;
}

.result-item {
  padding: 20px;
  border-bottom: 1px solid #E4E4E4;
  @media (max-width: 850px) {
    padding: 10px;
  }
}
.result-item-info-block {
  overflow: hidden;
}
.result-item-name {
  border: 1px solid #E4E4E4;
  background-color: #E7EFFA;
  font-size: 1.5em;
  padding: 5px 10px;
  color: #3D4550;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  @media (max-width: 850px) {
    font-size: 1em;
  }
}

.result-item-decription {
  font-size: 25px;
  line-height: 1.5;
  margin: 10px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  @media (max-width: 850px) {
    font-size: 20px;
  }
}
.bold-text-in-input {
  font-weight: 600;
}

.contenteditable-search-input{

  height: 40px;
  margin: 0;
  padding-left: 50px;

  font-size: 20px;
  line-height: 2;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;

  border: 1px solid #9f9f9f;
  background: url(../img/icons/search-icon.png) no-repeat left white;
  background-size: 20px auto;
  background-position: 20px center;
  outline: none;

  position: relative;
  z-index: 3;

  @media screen and(min-width: 580px){
    height: 79px;
    padding-left: 74px;
    font-size: 40px;
    line-height: 2;

    background-size: auto;
  }
}

.claim-business-btn {
  display: inline-block;
  border: 1px solid #E4E4E4;
  background-color: #E7EFFA;
  font-size: 1.5em;
  padding: 10px;
  color: #3D4550;
  width: 300px;
  text-align:center;
  cursor: pointer;
  @media (max-width: 700px) {
    font-size: 1em;
    width: 200px;
  }
  @media (max-width: 500px) {
    width: 100px;
  }
}
