@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    font-size: 15px;
    font-family: "Open Sans";
}

.no-indent {
	margin: 0;
	padding: 0;
}

.radius_30{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}

.radius_20{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.radius_15{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

.radius_8{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    -moz-appearance: none;
}

.btn {
	padding: 5px 10px;
	margin: 5px;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
}
a { 
    text-decoration: none !important;
}
.page-content {
    margin: 30px 70px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.flex-block {
    display: -webkit-flex; 
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center; 
    align-items: center;
}

.crumbs {
    border-top: 1px solid #E2E2E2;
    margin: 20px 0;
    overflow: hidden
}
.crumbs ul {
    margin: 0;
}
.crumbs ul li a {
    display: block;
    float: left;
    text-align: center;
    position: relative;
    margin: 5px 0;      
    font-size: 20px;
    text-decoration: none;
    color: #7F8998;
}
.crumbs ul li{
    list-style:none;
}
.crumbs ul li a:after {
    content: ">";  
    margin: 5px 10px;   
}
.crumbs ul li a.active {
    color: #282F39;
    border-bottom: 3px solid #282F39;
}

.crumbs ul li:last-child a:after {
    display: none; 
}