@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  font-size: 27px;
  font-family: "Open Sans";
  background-color: #F8F8F8;
  @media (max-width: 1260px) {
    font-size: 17px;
  }
  @media (max-width: 350px) {
    font-size: 15px;
  }
}

.usual-text {
  line-height: 2;
}
.no-indent {
  margin: 0;
  padding: 0;
}

.radius_30 {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

.radius_20 {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.radius_15 {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

.radius_10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.radius_8 {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

input:focus,
textarea:focus,
select:focus,
.btn {
  outline: none;
  -moz-appearance: none;
}

.btn {
  padding: 5px 10px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  @media (max-width: 1260px) {
      font-size: 17px;
  }
}
.button-image {
  @media (max-width: 1260px) {
    height: 15px;
  }
  
}

a {
  text-decoration: none;
}

.page-content {
  margin: 30px 70px;
  @media (max-width: 700px) {
    margin: 20px;
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.flex-block {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}

.crumbs {
  border-top: 1px solid #E2E2E2;
  margin: 20px 0;
  overflow: hidden;
}

.crumbs ul {
  margin: 0;
}

.crumbs ul li a {
  display: block;
  float: left;
  text-align: center;
  position: relative;
  margin: 5px 0;
  font-size: 31px;
  text-decoration: none;
  color: #7F8998;

  @media (max-width: 1260px) {
    font-size: 20px;
  }
}

.crumbs ul li {
  list-style: none;
}

.crumbs ul li a:after {
  content: ">";
  margin: 5px 10px;
}

.crumbs ul li a.active {
  color: #282F39;
  border-bottom: 3px solid #282F39;
}

.crumbs ul li:last-child a:after {
  display: none;
}

.view-icons div:last-child,
.repost-icons div:last-child {
  border: none;
}

.view-icon {
  display: inline-block;
  margin: 5px 0;
  cursor: pointer;
  border-right: 1px solid #282F3A;
  padding: 0 5px;
}
.view-icon img,
.round-btn {
  cursor: pointer;
  @media (max-width: 1260px) {
    height: 30px;
  }
}

.view-icon:hover,
.view-icon.selected, {
  opacity: 0.7;
}


.popup-panel {
  display: none;
  position: absolute;
  z-index: 3;
  width: auto;
  height: auto;
  text-align: center;
  color: #282F39;
  background: rgb(255, 255, 255);
  border: 1px solid #878A8F;
  box-shadow: #CBCCCE 1px 1px 3px 1px;
  white-space: nowrap;
  padding: 10px;
}

.popup-panel:after {
  content: "";
  position: absolute;
  z-index: 3;
  width: 0;
  height: 0;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #FFFFFF transparent;
  top: -28px;
  left: 50%;
}

.popup-panel i,
.popup-panel img{
  display: inline-block;
  margin: 5px 0;
  cursor: pointer;
  padding: 0 10px 0 5px;
  border-right: 1px solid #282F3A;
}

.popup-panel i:hover,
.popup-panel img:hover {
  opacity: 0.7;
}

.popup-panel img:last-child,
.popup-panel i:last-child {
  border: none;
}

.popup-panel img {
  @media (max-width: 1260px) {
    height: 20px;
  }
}
.popup-left-arrow:after {
  left: 20px;
}
.popup-right-arrow:after {
  left: 80%;
}

.searchresults-block-name,
.column-block-name,
.app-page-block-title {
  font-size: 30px;
  white-space: nowrap;
  @media (max-width: 1260px) {
    font-size: 20px;
  }
}

.searchresults-block-name:first-letter,
.column-block-name:first-letter,
.app-page-block-title:first-letter {
  font-size: 36px;
  font-weight: 600;
  @media (max-width: 1260px) {
    font-size: 22px;
  }
}