@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  font-size: calc(27px / 1.5);
  font-family: "Open Sans";
  background-color: #F8F8F8;
  @media (max-width: 1260px) {
    font-size: calc(17px / 1.5);
  }
  @media (max-width: 350px) {
    font-size: calc(15px / 1.5);
  }
}



.all-page-content.moved {
  position: relative;
}


.usual-text {
  line-height: 2;
}
.no-indent {
  margin: 0;
  padding: 0;
}

.radius_30 {
  border-radius: calc(30px / 1.5);
  -webkit-border-radius: calc(30px / 1.5);
  -moz-border-radius: calc(30px / 1.5);
}

.radius_20 {
  border-radius: calc(20px / 1.5);
  -webkit-border-radius: calc(20px / 1.5);
  -moz-border-radius: calc(20px / 1.5);
}

.radius_15 {
  border-radius: calc(15px / 1.5);
  -webkit-border-radius: calc(15px / 1.5);
  -moz-border-radius: calc(15px / 1.5);
}

.radius_10 {
  border-radius: calc(10px / 1.5);
  -webkit-border-radius: calc(10px / 1.5);
  -moz-border-radius: calc(10px / 1.5);
}

.radius_8 {
  border-radius: calc(8px / 1.5);
  -webkit-border-radius: calc(8px / 1.5);
  -moz-border-radius: calc(8px / 1.5);
}

input:focus,
textarea:focus,
select:focus,
.btn {
  outline: none;
  -moz-appearance: none;
}

.btn {
  padding: calc(5px / 1.5) calc(10px / 1.5);
  margin: calc(5px / 1.5);
  font-size: calc(30px / 1.5);
  text-align: center;
  cursor: pointer;
  @media (max-width: 1260px) {
      font-size: calc(17px / 1.5);
  }
}
.button-image {
  @media (max-width: 1260px) {
    height: calc(15px / 1.5);
  }
  
}

a {
  text-decoration: none;
}

.page-content {
  margin: calc(30px / 1.5) calc(70px / 1.5);
  @media (max-width: 700px) {
    margin: calc(20px / 1.5);
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.flex-block {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}

.crumbs {
  border-top: calc(1px / 1.5) solid #E2E2E2;
  margin: calc(20px / 1.5) 0;
  overflow: hidden;
}

.crumbs ul {
  margin: 0;
}

.crumbs ul li a {
  display: block;
  float: left;
  text-align: center;
  position: relative;
  margin: calc(5px / 1.5) 0;
  font-size: calc(31px / 1.5);
  text-decoration: none;
  color: #7F8998;

  @media (max-width: 1260px) {
    font-size: calc(20px / 1.5);
  }
}

.crumbs ul li {
  list-style: none;
}

.crumbs ul li a:after {
  content: ">";
  margin: calc(5px / 1.5) calc(10px / 1.5);
}

.crumbs ul li a.active {
  color: #282F39;
  border-bottom: calc(3px / 1.5) solid #282F39;
}

.crumbs ul li:last-child a:after {
  display: none;
}

.view-icons div:last-child,
.repost-icons div:last-child {
  border: none;
}

.view-icon {
  display: inline-block;
  margin: calc(5px / 1.5) 0;
  cursor: pointer;
  border-right: calc(1px / 1.5) solid #282F3A;
  padding: 0 calc(5px / 1.5);
}
.view-icon img,
.round-btn {
  cursor: pointer;
  @media (max-width: 1260px) {
    height: calc(30px / 1.5);
  }
}

.view-icon:hover,
.view-icon.selected, {
  opacity: 0.7;
}


.popup-panel {
  display: none;
  position: absolute;
  z-index: 3;
  width: auto;
  height: auto;
  text-align: center;
  color: #282F39;
  background: rgb(255, 255, 255);
  border: calc(1px / 1.5) solid #878A8F;
  box-shadow: #CBCCCE calc(1px / 1.5) calc(1px / 1.5) calc(3px / 1.5) calc(1px / 1.5);
  white-space: nowrap;
  padding: calc(10px / 1.5);
}

.popup-panel:after {
  content: "";
  position: absolute;
  z-index: 3;
  width: 0;
  height: 0;
  border-width: calc(15px / 1.5);
  border-style: solid;
  border-color: transparent transparent #FFFFFF transparent;
  top: calc(-28px / 2);
  left: 0;
  right: 0;
  margin: 0 auto;
}

.popup-panel i,
.popup-panel img{
  display: inline-block;
  margin: calc(5px / 1.5) 0;
  cursor: pointer;
  padding: 0 calc(10px / 1.5) 0 calc(5px / 1.5);
  border-right: calc(1px / 1.5) solid #282F3A;
}

.popup-panel i:hover,
.popup-panel img:hover {
  opacity: 0.7;
}

.popup-panel img:last-child,
.popup-panel i:last-child {
  border: none;
}

.popup-panel img {
  @media (max-width: 1260px) {
    height: calc(20px / 1.5);
  }
}
.popup-left-arrow:after {
  left: -80%;
}
.popup-right-arrow:after {
  left: 80%;
}
.popup-bottom-arrow:after {
  border-color: #fff transparent transparent transparent!important;
  top: 100%;
}


.searchresults-block-name,
.column-block-name,
.app-page-block-title {
  font-size: calc(30px / 1.5);
  white-space: nowrap;
  @media (max-width: 1260px) {
    font-size: calc(20px / 1.5);
  }
}

.searchresults-block-name:first-letter,
.column-block-name:first-letter,
.app-page-block-title:first-letter {
  font-size: calc(36px / 1.5);
  font-weight: 600;
  @media (max-width: 1260px) {
    font-size: calc(22px / 1.5);
  }
}