header {
  z-index: 100;
  position: relative;
}

.header-pane {
  box-sizing: border-box;
  margin: 0;
  padding: 15px 0;
  background-color: #282F39;
  position: relative;
  z-index: 4;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  @media (min-width: 750px) {
  }
}

.header-btns {
  white-space: nowrap;
}

.header-image-block {
  white-space: nowrap;
}

.main-menu {
  cursor: pointer;
}

.search-input-form {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: auto;
  border: 8px solid #4C5059;
  overflow: hidden;
  .search-input {
    width: 300px;
    height: 42px;
    margin: 0;
    font-size: 18px;
    padding-left: 60px;
    text-align: left;
    border: 1px solid #9f9f9f;
    background: url(../img/icons/search-icon.png) no-repeat left white;
    background-size: 25px auto;
    background-position: 20px center;
    @media screen and(min-width: 1260px) {
      height: 48px;
      width: 500px;
    }
  }
  .search-button {
    position: absolute;
    top: 1px;
    right: 0;
    width: 70px;
    height: 40px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    color: #feccd6;
    border: none;
    background-color: #f6395d;
    cursor: pointer;
    color: #FECCD6;
    @media screen and(min-width: 1260px) {
      top: 1px;
      height: 50px;
    }
    &:before {
      content: "";
      position: absolute;
      left: -18px;
      top: 0;
      border-left: 19px solid transparent;
      border-bottom: 40px solid #f6395d;
      height: 0px;
      @media screen and(min-width: 1260px) {
        border-bottom: 50px solid #f6395d;
      }
      &__text {
        position: absolute;
        left: 50%;
        transform: translateX(calc(-50% - 5px));
        @media screen and(min-width: 580px) {
          transform: translateX(calc(-50% - 10px));
        }
      }
    }
  }
}

.login-btn {
  background-color: #282F39;
  border: 1px solid #3D4550;
  color: white;
}

.white-btn {
  background-color: white;
  color: #282F39;
}

.header-image {
  vertical-align: middle;
  margin: 5px;
  @media (max-width: 1260px) {
    height: 30px;
  }
}


/*blue titlepane styles*/

.title-pane {
  position: relative;
  margin: 0;
  padding-left: 30px;
  background-color: #E5EDFA;
  vertical-align: bottom;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  @media (max-width: 1260px) {
    padding-left: 10px;
  }
}
.page-title-text {
  padding: 0px;
  margin: 0px;
  display: inline-block;
  text-align: left;
  margin-top: 5px;
  text-transform: uppercase;
}

.page-title-text:after {
  content: '';
  height: 3px;
  width: 50px;
  background-color: #F7395D;
  display: block;
  padding: 0px;
  margin: 0px;
  vertical-align: bottom;
}

.title-image {
  vertical-align: top;
  height: 60px;
  // float: right;
  @media (max-width: 1260px) {
    height: 50px;
  }
  @media (max-width: 460px) {
    height: 40px;
  }
}

.background-image {
  height: 140px;
  @media (max-width: 1350px) {
    height: 100px;
  }
  @media (max-width: 1000px) {
    height: 80px;
  }
  @media (max-width: 860px) {
    display: none;
  }
}

.title-left-block {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  // margin-top: 20px;
  // text-align: left;
  // white-space: nowrap;
  & + img {
    float: right;
  }
  @media (max-width: 860px) {
    position: relative;
    margin-bottom: 10px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transform: none;
  }
}
