header {
  z-index: 100;
  position: relative;
}

.header-pane {
  box-sizing: border-box;
  margin: 0;
  padding: calc(15px / 1.5) 0;
  background-color: #282F39;
  position: relative;
  z-index: 4;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  @media (min-width: 750px) {
  }
}

.header-btns {
  white-space: nowrap;
  margin: calc(4px / 1.5) auto;
  @media (min-width: 580px) {
    margin: 0 calc(30px / 1.5) 0 0;
  }
  @media (min-width: 1260px) {
    margin: 0 calc(90px / 1.5) 0 0;
  }
}

.header-image-block {
  white-space: nowrap;
  margin-left: calc(30px / 1.5);
}

.main-menu {
  cursor: pointer;
  height: calc(30px / 1.5)!important;
  margin-right: calc(30px / 1.5)!important;
}

.search-input-form {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: auto;
  margin: calc(18px / 1.5);
  overflow: hidden;
  margin-bottom: 10px;
  .search-input {
    width: 100%;
    height: calc(54px / 1.5);
    margin: 0;
    font-size: calc(18px / 1.5);
    padding-left: calc(60px / 1.5);
    text-align: left;
    //border: 1px solid #9f9f9f;
    background: url(../img/icons/search-icon.png) no-repeat left white;
    background-size: calc(25px / 1.5) auto;
    background-position: calc(20px / 1.5) center;
    border: calc(8px / 1.5) solid #4C5059;
    border-radius: calc(15px / 1.5);
    @media screen and (min-width: 768px) {
      height: calc(54px / 1.5);
      width: calc(600px / 1.5);
    }
    @media screen and (min-width: 1260px) {
      height: calc(64px / 1.5);
      width: calc(600px / 1.5);
    }
  }
  .search-button {
    position: absolute;
    top: calc(7px / 1.5);
    right: calc(6px / 1.5);
    width: calc(70px / 1.5);
    height: calc(40px / 1.5);
    padding: 0 calc(10px / 1.5);
    font-size: calc(18px / 1.5);
    font-weight: 600;
    text-align: center;
    line-height: calc(40px / 1.5);
    color: #feccd6;
    border: none;
    background-color: #f6395d;
    cursor: pointer;
    color: #FECCD6;
    border-radius: 0 calc(8px / 1.5) calc(8px / 1.5) 0;
    @media (min-width: 1260px){
        line-height: calc(50px / 1.5);
        height: calc(50px / 1.5);
    }
    &:before {
      content: "";
      position: absolute;
      left: calc(-18px / 1.5);
      top: 0;
      border-left: calc(19px / 1.5) solid transparent;
      border-bottom: calc(40px / 1.5) solid #f6395d;
      height: calc(0px / 1.5);
      @media (min-width: 1260px){
        border-bottom: calc(50px / 1.5) solid #f6395d;
      }
      &__text {
        position: absolute;
        left: 50%;
        transform: translateX(calc(-50% - calc(5px / 1.5)));
        @media screen and (min-width: 580px){
          transform: translateX(calc(-50% - calc(10px / 1.5)));
        }
      }
    }
  }
}

.login-btn {
  padding-right: 8%;
  background-color: #282F39;
  border: 1px solid #3D4550;
  color: white;
  background: url('../img/icons/profile-icon.png') no-repeat 24% 50%;
  background-size: 14%;
  padding-left: 18%;
}

.white-btn {
  background-color: white;
  color: #282F39;
  border: 0 solid transparent;
  box-shadow: 0 calc(4px / 1.5) #000;
}

.header-image {
  vertical-align: middle;
  margin: calc(5px / 1.5);
  height: calc(50px / 1.5);

  @media (max-width: 1260px) {
    height: calc(30px / 1.5);
  }
}


/*blue titlepane styles*/

.title-pane {
  position: relative;
  margin: 0;
  padding-left: calc(30px / 1.5);
  background-color: #E5EDFA;
  vertical-align: bottom;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  @media (max-width: 1260px) {
    padding-left: calc(10px / 1.5);
  }
}
.page-title-text {
  padding: calc(0px / 1.5);
  margin: calc(0px / 1.5);
  display: inline-block;
  text-align: left;
  margin-top: calc(5px / 1.5);
  text-transform: uppercase;
}

.page-title-text:after {
  content: '';
  height: calc(3px / 1.5);
  width: calc(50px / 1.5);
  background-color: #F7395D;
  display: block;
  padding: calc(0px / 1.5);
  margin: calc(0px / 1.5);
  vertical-align: bottom;
}

.title-image {
  vertical-align: top;
  height: calc(60px / 1.5);
  // float: right;
  @media (max-width: 1260px) {
    height: calc(50px / 1.5);
  }
  @media (max-width: 460px) {
    height: calc(40px / 1.5);
  }
}

.background-image {
  height: calc(140px / 1.5);
  @media (max-width: 1350px) {
    height: calc(100px / 1.5);
  }
  @media (max-width: 1000px) {
    height: calc(80px / 1.5);
  }
  @media (max-width: 860px) {
    display: none;
  }
}

.title-left-block {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  // margin-top: calc(20px / 1.5);
  // text-align: left;
  // white-space: nowrap;
  & + img {
    float: right;
  }
  @media (max-width: 860px) {
    position: relative;
    padding-bottom: calc(10px / 1.5);
    padding-top: calc(20px / 1.5);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transform: none;
  }
}
