.sidebar {
    padding-top: 20px;
    background: rgba(43, 50, 58, 0.9);
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    display: none;
    height: 100%;
    overflow-x: hidden;
    width: auto;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidemenu li {
    margin-bottom: 30px;
}

.sidemenu a {
    position: relative;
    min-height: 40px;
    padding-left: 55px;
    display: block;
    color: white;
}

.sidemenu a:hover img {
    border: 1px solid white;
}


.sidemenu a img {
    font-size: 22px;
    margin: 11px;
    text-align: center;
    position: absolute;
    left: 5px;
    top: -12px;
    display: inline-block;
    
}

.sidebar.show{
    display: block !important;
    width: auto;
}

.sidebar .sidemenu {
    padding-right: 30px;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 767px) {
}

.sidebar span {
    padding:0 20px;
    opacity: 1;
}


@media screen and (min-width: 767px) {
    .sidebar .sidemenu {
        padding-right: 30px;
    }
}

.sidebar .sidemenu a {
    font-weight: 300;
}


.user-img {
    img {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        z-index: 3;
    }
}
.user-name {
    font-size: 13px;
    background-color: #F7395D;
    margin-top: 20px;
    position: absolute;
    left: 37px;
    padding-left: 40px !important;
    padding-right: 10px !important;
    z-index: 2;
}