.marks-title {
  position: relative;
  display:inline-block;
  margin: 15px;

  text-align: center;
  font-size: 18px;
  font-weight: lighter;

  @media screen and (min-width: 580px) {
    font-size: 37px;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;

    width: calc(39px / 1.5);
    height: calc(3px / 1.5);

    background-color: #f6395d;

    @media screen and (min-width: 580px){
      width: calc(78px / 1.5);
      height: calc(5px / 1.5);
    }
  }
}

.bold-span {
  font-weight: 600;
}

.marks__annotation-pane {
  margin: 10px 0 30px 0;
  padding: 20px;
  justify-content: center;
  background-color: #E4EEFA;

}

.marks__annotation-pane__image{
  img {
    width: 400px;
    height: auto;


    @media screen and (max-width: 1280px){
      width: 300px;
    }
    @media screen and (max-width: 750px){
      width: 200px;
    }
    @media screen and (max-width: 500px){
      display: none;
    }
  }
}

.marks__annotation-pane__text{
  padding: 0 20px;
  max-width: 800px;
  width: 40%;

  font-size: 13px;

  @media screen and (max-width: 500px){
    width: 100%;
  }
  p {
    margin-bottom: 10px;
  }
}

.marks__stamp-pane {
  width: 60%;
  max-width: 800px;
  margin: 20px auto;

  @media screen and (max-width: 650px){
    width: 100%;
  }
}

.marks__btn-border {
  display: inline-block;
  border: 1px solid #E2E2E5;
}
.marks__red-btn {
  margin: 2px;
  padding: 5px 30px;

  font-size: 1em;
  font-weight: bold;

  color: white;
  background-color: #F7395D;
  border: none;
}

.stamp-block {
  border: 1px solid #E7E8EA;
  overflow: hidden;

  &__top-line {
    padding: 20px 0;
    border-top: 2px solid #E7E8EA;
  }

  &__header {
    height: 200px;

    font-size: 2em;
    border-bottom: 1px solid #E7E8EA;
    background-color: #E5EDFA;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  
    @media screen and (max-width: 550px){
      height: 150px;
    }
  
    @media screen and (max-width: 400px){
      height: 120px;
    }

    .stamp-header-text {
      padding: 30px 0;
      padding-left: 130px;
  
      @media screen and (max-width: 900px){
        padding-left: 70px;
      }
  
      @media screen and (max-width: 650px){
        padding-left: 130px;
      }
  
      @media screen and (max-width: 550px){
        padding-left: 80px;
        padding-top: 10px;
      }
  
      @media screen and (max-width: 400px){
        padding-left: 40px;
      }

    }

    &.red-header {
      background-image: url(../img/images/red-labels-background.png);
      color: #F7395D;
    }

    &.violet-header {
      background-image: url(../img/images/violet-labels-background.png);
      color: #7C5EA1;
    }

    &.dark-blue-header {
      background-image: url(../img/images/dark-blue-labels-background.png);
      color: #184A7D;
    }

    &.light-blue-header {
      background-image: url(../img/images/light-blue-labels-background.png);
      color: #7A91B1;
    }
  }

  &__description {
    padding: 15px 20px;
    background-color: white;
  }
}

.marks__stamps-help-pane {
  background: #e5e5e5; /* Old browsers */
  background: -moz-linear-gradient(left,  #e5e5e5 10%, #ffffff 40%, #ffffff 61%, #e5e5e5 90%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #e5e5e5 10%,#ffffff 40%,#ffffff 61%,#e5e5e5 90%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #e5e5e5 10%,#ffffff 40%,#ffffff 61%,#e5e5e5 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 */
}
.marks__stamps-help-pane__text {
  width: 60%;
  max-width: 500px;
  margin: 20px;
  padding: 20px;
}
.marks__stamps-help-pane__block {
  width: 60%;
  max-width: 800px;
  margin: 20px auto;

  background-image: url(../img/images/man-with-phone-background.png);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  
  @media screen and (max-width: 900px){
    width: 70%;
  }
  
  @media screen and (max-width: 800px){
    width: 100%;
  }
  
  @media screen and (max-width: 500px){
    width: 100%;
    background-size: 170px;
  }
  
  @media screen and (max-width: 380px){
    background-size: 140px;
  }
}

.marks__use-stamps {
  min-height: 200px;
  background-image: url(../img/images/arrow-background.png);
  background-position: 0% center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
}
.marks__use-stamps__text:before {
    content: '';
    position: absolute;
    left: 40%;
    top: 50px;

    width: calc(39px / 1.5);
    height: calc(3px / 1.5);

    background-color: #f6395d;

    @media screen and (min-width: 580px){
      width: calc(78px / 1.5);
      height: calc(5px / 1.5);
    }
}
.marks__use-stamps__text:after {
    content: '';
    position: absolute;
    left: 40%;
    bottom: -25px;

    width: calc(39px / 1.5);
    height: calc(3px / 1.5);

    background-color: #f6395d;

    @media screen and (min-width: 580px){
      width: calc(78px / 1.5);
      height: calc(5px / 1.5);
    }
}
.marks__use-stamps__text {
  position: relative;
  width: 60%;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 70px;
}

.marks__contact-us__text {
  width: 60%;
  padding: 30px;
  padding-bottom: 0px;

  color: white;
  background-image: url(../img/images/arrows-around-btn-background.png);
  background-position: center 100%;
  background-repeat: no-repeat;
  background-size: 240px;

  @media screen and (min-width: 1260px){
    background-size: 350px;
  }
}

.marks__contact-us {
  background-color: #2F333C;

  .marks__btn-border {
    margin: 20px auto;
  }

  .marks__red-btn {
    padding: 5px 15px;
  }
}