.white-btn-with-border {
    color: #282F39;
    border: 1px solid #282F39;
    background-color: transparent;
}
.black-btn-with-border {
    color: white;
    border: 1px solid #282F39;
    background-color: #282F39;
}

.profile-page-content {
    overflow: hidden;
    margin: calc(20px / 1.5);
    margin-top: 50px;

    input, textarea {
      margin: 10px 0px 0 0;
      padding: calc(5px / 1.5) calc(10px / 1.5);
    }

    .title-with-line {
      margin-bottom: 10px;
    }

    .blue-btn {
      display: block;
      margin: 0;
      margin-top: 10px;
      float: right;
    }

    .profile-page__little-screenshot {
      margin: 20px 0;
    }

    .profile-page__big-screenshot {
      margin-top: 10px;
    }

    .profile-page__screenshot-area {
      border: 1px solid #4C85DC;
    }
}

.profile-page__searching-pane {
  align-items: flex-start;
  margin-left: 120px;
}
.profile-page__search-block {
    margin: 20px 10px;
}

.profile-page__search-block-title {
  padding: calc(10px / 1.5) 0;
  font-size: 1.5em;
}
.profile-page__search-input {
  background-color: #E5EDFA;
}

.profile-page__search-result {
  margin: 10px 0;
  border: 1px solid #DEDEDE;
}

.profile-page__search-result-item {
  padding: calc(10px / 1.5) calc(15px / 1.5);

  color: #9F9F9F;

  &:not(:last-child) {
    border-bottom: 1px solid #DEDEDE;
  }
}

.profile-page-block {
  align-items: flex-start;
  margin-top: 30px;

  .profile-page__inner-block {
    max-width: 300px;
    clear: both;
  }
}

.profile-page__big-block {
  width: 60%;
}

.profile-page__little-block {
  width: 35%;
}

.profile-page__black-round-icon {
  margin-right: 10px;
  margin-top: 10px;
  img {
    height: 27px;
  }
}


.bold-title-with-line {
  display: table;
  width: 100%;

  font-size: 2em;
  font-weight: 600;
  white-space: nowrap;

  &:after {
    content: '';
    display: table-cell;
    position: relative;
    top: 1em;
    left: 1.5%;
    width: 90%;

    border-top: 1px solid #cbcbcb;
  }
}

.right-alignment {
  float: right;
}

.profile-page__screenshots-btns * {
    display: inline-block;
}

.profile-page__big-screenshot, .profile-page__little-screenshot {
  border: 1px solid #4C85DC;
}
.profile-page__big-screenshot {
  height: 300px;
  background: url(../img/icons/plus.png) center no-repeat;
  background-size: 50px 50px;
}

.profile-page__little-screenshot {
  height: 100px;
  width: 30%;
  background: url(../img/icons/plus.png) center no-repeat;
  background-size: 20px 20px;
}

.red-delete-btn {
  background-color: #FF4F51;
  color: white;
  border: none;
  
}

.blue-filled-btn {
  padding: 5px 40px;
  background-color: #4C85DC;
  color: white;
  border: none;
  
}