.profile-page-account-btn {
    padding: 5px 30px;

    font-size: 1.25em;
    color: #282F39;
    border: 1px solid #282F39;
    background-color: transparent;

    &.selected {
      color: white;
      border: 1px solid #282F39;
      background-color: #282F39;
    }
}

.profile-page-content {
    overflow: hidden;
    margin: 50px 30px;

    input, textarea {
      margin: 10px 0px 0 0;
      padding: calc(5px / 1.5) calc(10px / 1.5);
    }

    textarea {
      height: 100px;
      resize: none;
    }
    input[type='file'] {
      visibility: hidden;
      display: none;
    }

    .title-with-line {
      margin-bottom: 10px;
    }

    .blue-btn {
      display: block;
      margin: 0;
      margin-top: 10px;
      float: right;
    }
    
    a.blue-btn:link, a.blue-btn:visited, a.blue-btn:hover {
      color: #4C84DA;
      text-decoration: none;
    }
    .profile-page__little-screenshot {
      margin: 20px 0;
    }

    .profile-page__big-screenshot {
      margin-top: 10px;
    }

    .profile-page__screenshot-area {
      border: 1px solid #4C85DC;
    }
}

.profile-page__searching-pane {
  align-items: flex-start;
  margin-left: 120px;

  @media (max-width: 650px) {
    margin-left: 20px;
  }

  @media (max-width: 350px) {
    margin-left: 0px;
  }
}
.profile-page__search-block {
    margin: 20px 10px;
}

.profile-page__search-block-title {
  padding: calc(10px / 1.5) 0;
  font-size: 1.5em;
}
.profile-page__search-input {
  background-color: #E5EDFA;
}

.profile-page__search-result {
  margin: 10px 0;
  border: 1px solid #DEDEDE;
}

.profile-page__search-result-item {
  padding: calc(10px / 1.5) calc(15px / 1.5);

  color: #818181;

  &:not(:last-child) {
    border-bottom: 1px solid #DEDEDE;
  }
}

.profile-page-block {
  align-items: flex-start;
  margin-top: 30px;
  width: 100%;

  @media (max-width: 600px) {
    flex-direction: column;
  }

  .profile-main-info .profile-about-person {
    @media (max-width: 600px) {
      margin-left: 0;
    }
  }

  .profile-page__inner-block {
    max-width: 300px;
    clear: both;

    @media (max-width: 600px) {
      max-width: 100%;
    }
  }

  .middle-block {
    @media (max-width: 600px) {
      width: 100%;
    }
  }
}

.profile-page__big-block {
  width: 60%;

  @media (max-width: 600px) {
    width: 100%;
  }

  .big-circle-image {
    margin-bottom: 30px;
  }
}

.profile-page__little-block {
  width: 35%;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.profile-page__black-round-icon {
  margin-right: 10px;
  margin-top: 10px;
  img {
    height: 27px;
  }
}


.bold-title-with-line {
  display: table;
  width: 100%;

  font-size: 2em;
  font-weight: 600;
  white-space: nowrap;

  &:after {
    content: '';
    display: table-cell;
    position: relative;
    top: 1em;
    left: 1.5%;
    width: 90%;

    border-top: 1px solid #cbcbcb;
  }
}

.right-alignment {
  float: right;
}

.profile-page__screenshots-btns * {
    display: inline-block;
}
.profile-page__screenshots-btns .blue-btn {
    position: relative;
    top: 15px;
}
.profile-page__big-screenshot, .profile-page__little-screenshot {
  border: 1px solid #4C85DC;
}
.profile-page__big-screenshot {
  height: 300px;
  background: url(../img/icons/blue-plus.png) center no-repeat;
  background-size: 50px 50px;

  @media (min-width: 900px) {
    height: 400px;
  }

  @media (min-width: 1200px) {
    height: 600px;
  }
}

.profile-page__little-screenshot {
  height: 100px;
  width: 30%;
  background: url(../img/icons/blue-plus.png) center no-repeat;
  background-size: 20px 20px;

  @media (min-width: 900px) {
    height: 150px;
  }

  @media (min-width: 1200px) {
    height: 200px;
  }
}

.red-delete-btn {
  background-color: #FF4F51;
  color: white;
  border: none;
  
}

.blue-filled-btn {
  padding: 5px 40px;
  background-color: #4C85DC;
  color: white;
  border: none;
  
}


.profile-page-account-block{
  margin: 0 10px;

  .bold-title-with-line {
    margin: 30px 0 50px 0;
  }
}

.account-plan-item {
  position: relative;
  z-index: 1;
  margin: calc(50px / 1.5) 0;

  color: #282F39;
  font-weight: bolder;
  font-size: 1.5em;

  background: #E5EEFA;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;

  &__header{
    background: #A6B6CD;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom: 5px solid #8799B1;

    &__logo {
      padding-top: 30px;
      img {
        width: 120px;
        height: auto;
      }
    }

    &__info {
      align-items: flex-end;
      padding: 0 20px;
      padding-bottom: 10px;
    }

    &__price {
      font-size: 4em;
      font-weight: 300;
      color: #E5EDFA;
    }

    &__price:before {
      content: '$';

      vertical-align: super;
      font-size: 0.4em;
      font-weight: 300;
      color: #E5EDFA;
    }

    &__clicks {
      margin-bottom: 10px;
      color: #282F39;
    }
  }

  &__body {
    padding: 20px;
    

    p {
      margin-bottom: 20px;
    }
    ul {

      li {
        list-style-type: disc;
        list-style-position: outside;
        margin-left: 20px;
      } 
    } 
  }

  &__title {
    font-weight: 600;
    font-size: 3em;
    text-transform: uppercase;
  }

  &__red-btn {
    padding: 10px 30px;
    width: 100%;
    max-width: 300px;

    font-size: 1em;
    color: white;

    background-color: #F7395D;
    border-radius: 15px;
    border: none;
  }
  
}

.pro-offer:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -10px;
  left: -10px;
  border-left: 100px solid transparent;
  border-bottom: 100px solid #D51E41;
}

.pro-offer-hat {
    position: absolute;
    top: -20px;
    left: -54px;

    height: 0;
    width: 0;

    font-weight: bold;
    font-size: 20px;
    line-height: 90px;

    color: #E5ECFC;
    border-right: 70px solid transparent;
    border-left: 70px solid transparent;
    border-bottom: 70px solid #F7395D;

    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


.pro-offer-hat span {    
    position: absolute;
    left: -10px;
}




.relief__red-btn {
  padding: 10px;
  width: auto;

  font-size: 12px;
  color: #E5ECFC;

  background-color: #F7395D;
  background: -moz-linear-gradient(top, #fe477b, #b03852); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fe477b, #b03852); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fe477b, #b03852); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe477b', endColorstr='#b03852',GradientType=0 ); /* IE6-9 */

    border-radius: 20px;
    border: none;

    .fa{
      color: #282F39;
      margin-right: 5px;
    }
}


.checkbox-label {
  font-size: 15px;
  margin-left: 10px;
  vertical-align: top;
  line-height: 2;
}

.profile-page__big-block input[type="checkbox"] {
  display: none;

  & + label {
    position: relative;

    display: inline-block;
    width: calc(51px / 1.5);
    height: calc(51px / 1.5);

    border-radius: calc(15px / 1.5);
    background-color: #ffffff;
    box-shadow: inset 1.805px -2.396px 4.14px 1.86px rgba(104, 102, 102, 0.32);

    cursor: pointer;

    @media screen and (max-width: calc(900px / 1.5)){
      height: calc(25px / 1.5);
      width: calc(25px / 1.5);

      border-radius: calc(7px / 1.5);
      box-shadow: inset 1.805px -2.396px 2.12px 1.86px rgba(104, 102, 102, 0.32);
    }
  }

  &:checked + label:before {
    position: absolute;
    left: calc(10px / 1.5);
    top: calc(3px / 1.5);

    width: calc(49px / 1.5);
    height: calc(36px / 1.5);
    background: url('../img/images/checkbox-mark.png');
    background-repeat: no-repeat;
    background-size: contain;

    content: '';

    @media screen and (max-width: calc(900px / 1.5)) {
      left: calc(5px / 1.5);

      width: calc(24px / 1.5);
      height: calc(18px / 1.5);

      background-size: contain;
    }
  }
}


ul.multiselect label.checkbox {
  line-height: 2.3;
}


.tt-dataset {
    padding: 15px 18px 5px;
    margin: 10px 0;
    border: 1px solid #DEDEDE;
    border-radius: calc(15px / 1.5);
    -webkit-border-radius: calc(15px / 1.5);
    -moz-border-radius: calc(15px / 1.5);
}
.tt-suggestion {
    padding: calc(10px / 1.5) calc(15px / 1.5);
    color: #818181;
    cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid #DEDEDE;
  }
}
