.searchresults-blocks-group {
  width: 100%;
  margin: 60px 0;
}

.searchresults-block {
  margin: 10px 0;
  padding: 5px;
  color: white;
  border: 1px solid #DCDADB;
  @media (max-width: 600px) {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.dark-blue-block {
  background: #4F70A3;
  color: white;
}

.blue-block {
  background: #8AA2C6;
  color: white;
}

.light-blue-block {
  background: #E5EDFA;
  color: #282F39;
}

.searchresults-block div {
  display: inline-block;
  float: none;
  margin: 0 10px;
}

.searchresults-block-name,
.column-block-name,
.app-page-block-title {
  font-size: 30px;
  white-space: nowrap;
  @media (max-width: 1260px) {
    font-size: 20px;
  }
}

.searchresults-block-name:first-letter,
.column-block-name:first-letter,
.app-page-block-title:first-letter {
  font-size: 36px;
  font-weight: 600;
  @media (max-width: 1260px) {
    font-size: 22px;
  }
}

.searchresults-block-text {
  vertical-align: middle;
  margin: 0;
  padding: 0 10px;
  @media (max-width: 600px) {
    border-top: 3px solid #3B5377;
  }
  @media (min-width: 600px) {
    border-left: 3px solid #3B5377;
  }
}

.blue-block div{
  border-color: #5C759D;
}

.light-blue-block div{
  border-color: #CED7E6;
}

.searchresults-block-btns {
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  white-space: nowrap;
}

.searchresults-block-btns img {
  
  @media (max-width: 600px) {
    margin: 10px 0;
  }
}

.circle-image {
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
  box-shadow: 3px -3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 3px -3px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 3px -3px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 3px -3px rgba(0, 0, 0, 0.6);
  border-radius: 100px;
  img {
    margin-left: auto;
    margin-right: auto;
  }
}

.little-circle {
  width: 120px;
  height: 120px;
  flex-basis: 120px;
  @media (max-width: 1260px) {
    width: 60px;
    height: 60px;
    flex-basis: 60px;
  }
  img {
    margin: 50px 0;
    @media (max-width: 1260px) {
      margin: 25px 0;
      width: 30px;
    }
  }
}



.blue-block .circle-image {
  border-color: #587297;
}

.light-blue-block .circle-image {
  border-color: #7B8A9F;
}


.big-block .flag{
  background-size: 120px 60px;
  float: none;
  width: 100%;
  @media (max-width: 980px) {
    background-size: 80px 40px;
  }
}

.big-block .product-info{
  margin-bottom: 150px;
  @media (max-width: 1260px) {
    margin-bottom: 100px;
  }
}
.big-block {
  width: 49%;
}
.middle-block {
  width: 49%;
}
.little-block {
  width: 32%;
}
.little-block .product-info{
  @media (max-width: 1260px) {
    margin-bottom: 60px;
  }
}

.product-info .big-circle {
  width: 170px;
  height: 170px;
  flex-basis: 170px;
  @media (max-width: 1260px) {
    width: 120px;
    height: 120px;
    flex-basis: 120px;
  }
  img {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    @media (max-width: 1260px) {
    
    }
  }
}


.product-info .middle-circle {
  width: 130px;
  height: 130px;
  flex-basis: 130px;
  @media (max-width: 1260px) {
    width: 100px;
    height: 100px;
    flex-basis: 100px;
  }
  img {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    @media (max-width: 1260px) {
    
    }
  }
}