.back-popup
  position: fixed
  top: 50%
  left: 50%

  display: block
  width: 60%
  max-width: 700px
  max-height: 100vh
  padding: 50px 50px 30px
  z-index: 10
  overflow-y: auto
  box-sizing: border-box
  font-size: 1.2em

  border: 1px solid rgb(88, 88, 88)
  border-radius: 50px
  box-shadow: 0px 3px 16px 0px rgba(49, 56, 68, 0.29)
  background-color: transparent

  transform: translate(-50%, -50%)

  @media (max-width: 650px) 
    padding: 20px

  a
    text-decoration: underline
    color: #3A7CF6

.back-popup
    background: url('../img/images/popup2bcgr.png') 50% 100% no-repeat
    background-size: 100%

    @media (max-width: 600px) 
      background-size: auto 40px
    @media (max-width: 400px) 
      background-size: auto 20px

.additional-text
    color: #818181;
    margin: 30px 0;

.back-popup__title-with-line
    white-space: nowrap
    display: table
    font-weight: normal
    &:after 
      border-top: 1px solid #B9B9B9
      content: ''
      display: table-cell
      position: relative
      top: 0.75em
      left: 1.5%
      width: 90%

.back-popup__title-with-line p:first-letter
    font-size: 36px
    font-weight: bold
    
    @media (max-width: 1260px)
      font-size: 22px

.back-popup__error-text
    color: #EB2F30
    width: 100%
    margin-top: -1.5em
    margin-left: 1em
    text-align: left

.back-popup__input
    background: #fff
    border-radius: 1em
    color: #000
    width: 100%
    padding: 1em
    font-size: 1.2em
    margin: 1em 0 0.5em
    border: 1px solid #dadada
    
    &.back-popup__input_narrow
        padding-right: 30%;
        @media (max-width: 600px) 
          position: relative
          display: block
          width: 100%
          text-align: center

        ~.back-popup__submit
            background: #F7395D
            border-radius: 1em
            color: #E4ECF7
            width: 100%
            padding: 1em
            font-size: 1.2em
            margin: 1em 0 0
            border: 0px solid transparent
            cursor: pointer
            position: absolute
            right: 0
            top: 0
            width: 30%
            overflow: hidden
            
            @media (max-width: 600px) 
              position: relative
              display: block
              width: 100%
              text-align: center
            &:hover
                background: #F43A56
        
.back-popup__form
    text-align: left
    position: relative
    
.back-popup__change-email
    display: inline-block
    width: 70%
    text-align: left
    margin-bottom: 0.7em
    
    @media (max-width: 600px) 
        width: 100%
        text-align: center
    ~a
        right: 0
        position: absolute
        
        @media (max-width: 600px) 
          position: relative
          display: block
          width: 100%
          text-align: center

.back-popup__image
    background: url('../img/images/back-image.png') 50% 50% no-repeat
    background-size: 100%
    width: 140px;
    height: 140px;
    margin: 20px auto;