.brands-col
    background: #E4EEFA
    border: 1px solid #DFDDDD
    margin-bottom: 50px
    box-shadow: 0 1px 1px #E4EEFA
    &.brands-col_radius-8
        border-radius: 8px

.brands-col__content
    background: #fff
    padding: 30px 20px 10px
    margin: 0

.brands-col__products
    border: 2px solid #A0A5A9
    margin: 5px 0
    padding: 8px
    border-radius: 18px
    display: inline-block
    background: transparent
    box-shadow: 0 0 transparent

    img
        display: inline
        margin: auto 0
        padding-right: 4px
        @media (min-width: 1260px)
            margin-top: 4px

    span
        display: inline
        padding-right: 32px
        font-size: 18px
        line-height: 32px
        @media (min-width: 1260px)
            font-size: 24px

.brands-col__label
    padding: 8px 0
    font-size: 16px
    font-weight: bold
    border: 0 solid transparent
    background: transparent
    box-shadow: 0 0 transparent
    margin: 0
    @media (min-width: 1260px)
        font-size: 24px
