.brands-col
    background: #E4EEFA
    border: 1px solid #DFDDDD
    margin-bottom: calc(50px / 1.5)
    box-shadow: 0 1px 1px #E4EEFA
    &.brands-col_radius-8
        border-radius: calc(8px / 1.5)
    li
        display: none;
        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3)
            display: block;
            
        @media (min-width: 768px)
            display: block;
        
.brands-col__content
    background: #fff
    padding: calc(30px / 1.5) calc(20px / 1.5) calc(10px / 1.5)
    margin: 0

.brands-col__products
    border: calc(2px / 1.5) solid #A0A5A9
    margin: calc(5px / 1.5) 0
    padding: calc(8px / 1.5)
    border-radius: calc(18px / 1.5)
    display: inline-block
    background: transparent
    box-shadow: 0 0 transparent

    img
        display: inline
        margin: auto 0
        padding-right: calc(4px / 1.5)
        @media (min-width: 1260px)
            margin-top: calc(4px / 1.5)

    span
        display: inline
        padding-right: calc(32px / 1.5)
        font-size: calc(18px / 1.5)
        line-height: calc(32px / 1.5)
        @media (min-width: 1260px)
            font-size: calc(24px / 1.5)

.brands-col__label
    padding: calc(8px / 1.5) 0
    font-size: calc(16px / 1.5)
    font-weight: bold
    border: 0 solid transparent
    background: transparent
    box-shadow: 0 0 transparent
    margin: 0
    
    @media (min-width: 1260px)
        font-size: calc(24px / 1.5)
