.category

    &.category__header
        position: relative

    &.category__name
        display: block
        position: relative
        overflow: hidden
        margin-right: 104px

    &.category__icon
        position: absolute
        top: -4px
        right: 58px

    &.category__link
        position: absolute
        top: 0
        right: 0

    &.category__list
        margin-bottom: 80px
        margin-left: 20px
        position: relative

        &:after
            content: ''
            border-bottom: 1px #ccc solid
            padding: 50%
            position: absolute
            bottom: -40px
