.category

    &.category__header
        position: relative

    &.category__name
        display: block
        position: relative
        word-wrap: break-word
        white-space: normal
        margin-right: 84px
        @media (min-width: 1260px)
            margin-right: 136px

    &.category__icon
        position: absolute
        top: 0
        right: 60px
        padding: 12px
        @media (min-width: 1260px)
            padding: 18px
            right: 100px

    &.category__link
        position: absolute
        top: 0
        right: 0

    &.category__list
        margin-bottom: 80px
        margin-left: 20px
        position: relative

        &:after
            content: ''
            border-bottom: 1px #ccc solid
            padding: 0 50%
            position: absolute
            bottom: -40px
