.cover
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 9

  display: none

  background-color: rgba(40, 47, 57, 0.8)

.confirmation-popup
  position: fixed
  z-index: 10
  top: 50%
  left: 50%

  display: block
  width: 95%
  max-width: 1100px
  max-height: 100vh
  padding: 50px 30px
  overflow-y: auto
  box-sizing: border-box

  font-size: 1

  border: 1px solid rgb(88, 88, 88)
  border-radius: 50px
  box-shadow: 0px 3px 16px 0px rgba(49, 56, 68, 0.29)
  background-color: transparent

  transform: translate(-50%, -50%)

  @media (max-width: 650px) 
    padding: 20px

  a
    text-decoration: none
    border-bottom: 1px #3A7CF6 solid
    color: #3A7CF6

  .image-button a
    border-bottom: none


.login-info-popup 
  background-image: url(../img/images/papersheets.png)
  background-position: 30% 100%
  background-repeat: no-repeat
  background-size: auto 70px
  background-color: white

  @media (max-width: 450px) 
    background-position: 15% 100%

.confirmation-popup.congrats
  font-size: 1.5em
.confirmation-popup.congrats::after
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-image: url(../img/images/background-congrats-left.png), url(../img/images/background-congrats-center.png), url(../img/images/background-congrats-right.png)
  background-position: left bottom, center bottom,  right bottom
  background-repeat: no-repeat
  background-size: auto 400px,  auto 70px,  auto 280px
  background-color: white
  z-index: -1

  @media (max-width: 400px) 
    opacity: 0.5
    background-size: auto 290px,  auto 50px,  auto 220px


.confirmation-popup.confirmation
  background-image: url(../img/images/register-background-bottom.png), url(../img/images/register-background-right.png)
  background-position: bottom, 100% 60%
  background-repeat: no-repeat
  background-size: contain, auto 70px
  background-color: white

  @media (max-width: 700px) 
    background-size: contain, auto 50px

  @media (max-width: 600px) 
    background-size: contain, auto 40px
  @media (max-width: 450px) 
    background-position: bottom, 100% 70%
    background-size: contain, auto 30px
  @media (max-width: 400px) 
    background-position: bottom, 100% 65%
    background-size: contain, auto 20px

.confirmation-popup.submit-email
  background-image: url(../img/images/register-background-bottom.png), url(../img/images/arrow-under-mail.png)
  background-position: bottom, 100% 50%
  background-repeat: no-repeat
  background-size: contain, auto 200px
  background-color: white

  @media (max-width: 450px) 
    background-position: bottom, 100% 70%
    background-size: contain, auto 180px
  @media (max-width: 400px) 
    background-size: contain, auto 170px



.confirmation-popup__content
  padding: 30px;

.image-button 
  margin: 2em;

  img
    height: 150px

    @media (max-width: 400px) 
      height: 100px

  @media (max-width: 400px) 
    margin: 20px 0;

.additional-text
  color: #818181;
  margin: 30px 0;


.grey-btn,
.registration-type
  margin-top: 20px
  padding: 10px 20px

  border: none
  @media (max-width: 350px) 
    padding: 10px

.registration-type
  color: #E4EEFA
  border: 1px solid #282F39
  background-color: #282F39


.grey-btn
  color: #282F39
  background-color: #E4EEFA

.title-with-line
  display: table
  width: 100%

  font-size: 1.25em
  white-space: nowrap

  &:after 
    content: ''
    display: table-cell
    position: relative
    top: 1em
    left: 1.5%
    width: 90%

    border-top: 1px solid #cbcbcb

.title-with-line p:first-letter
  font-size: 36px
  font-weight: 600
  @media (max-width: 1260px)
    font-size: 22px

.confirmation-popup__brands-item
  margin-bottom: 20px

  background: #E4EEFA;
  border: 1px solid #DFDDDD;
  box-shadow: 0 1px 1px #E4EEFA; 

.login-info-popup .brands-col__content 
  padding: 5px

.login-info-popup .brands-col__content .name
  margin: 0px

  white-space: normal
  font-size: 0.75em

.confirmation-popup .red-btn
  box-shadow: none
  padding: 10px 20px
  border: none

.right-align
  float: right;
  @media (max-width: 550px)
    float: none

.link-with-arrow img
  position: relative
  z-index: -1

  width: 50px
  margin-left: 20px

  vertical-align: text-top

.popup-input-form
  margin: 0 40px
  @media (max-width: 400px)
    margin: 0 20px

.popup-input-block
  position: relative

  margin: 20px 0

.popup-input 
  width: 100%;
  padding: 5px
  padding-right: 200px

  font-size: 1em
  line-height: 1.75em
  outline: none

  color: #666666
  border: 1px solid #DADADA
  @media (max-width: 500px)
    padding: 5px

.popup-input-block .red-btn
  position: absolute
  top: 0
  right: 0

  margin: 0
  height: 100%
  @media (max-width: 500px)
    position: relative
    margin: 10px 0


