.cover
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 9

  display: none

  background-color: rgba(40, 47, 57, 0.8)

.confirmation-popup
  position: fixed
  z-index: 10
  top: 50%
  left: 50%

  display: block
  width: 95%
  max-width: calc(1100px / 1.5)
  max-height: 100vh
  padding: calc(50px / 1.5) calc(30px / 1.5)
  overflow-y: auto
  box-sizing: border-box

  font-size: 1

  border: calc(1px / 1.5) solid rgb(88, 88, 88)
  border-radius: calc(50px / 1.5)
  box-shadow: calc(0px / 1.5) calc(3px / 1.5) calc(16px / 1.5) calc(0px / 1.5) rgba(49, 56, 68, 0.29)
  background-color: transparent

  transform: translate(-50%, -50%)

  @media (max-width: 650px) 
    padding: calc(20px / 1.5)

  a
    text-decoration: none
    border-bottom: calc(1px / 1.5) #3A7CF6 solid
    color: #3A7CF6

  .image-button a
    border-bottom: none


.login-info-popup 
  background-image: url(../img/images/papersheets.png)
  background-position: 30% 100%
  background-repeat: no-repeat
  background-size: auto calc(70px / 1.5)
  background-color: white

  @media (max-width: 450px) 
    background-position: 15% 100%

.confirmation-popup.congrats
  font-size: 1.5em
.confirmation-popup.congrats::after
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-image: url(../img/images/background-congrats-left.png), url(../img/images/background-congrats-center.png), url(../img/images/background-congrats-right.png)
  background-position: left bottom, center bottom,  right bottom
  background-repeat: no-repeat
  background-size: auto calc(400px / 1.5),  auto calc(70px / 1.5),  auto calc(280px / 1.5)
  background-color: white
  z-index: -1

  @media (max-width: 400px) 
    opacity: 0.5
    background-size: auto calc(290px / 1.5),  auto calc(50px / 1.5),  auto calc(220px / 1.5)


.confirmation-popup.confirmation
  background-image: url(../img/images/register-background-bottom.png), url(../img/images/register-background-right.png)
  background-position: bottom, 100% 60%
  background-repeat: no-repeat
  background-size: contain, auto calc(70px / 1.5)
  background-color: white

  @media (max-width: 700px) 
    background-size: contain, auto calc(50px / 1.5)

  @media (max-width: 600px) 
    background-size: contain, auto calc(40px / 1.5)
  @media (max-width: 450px) 
    background-position: bottom, 100% 70%
    background-size: contain, auto calc(30px / 1.5)
  @media (max-width: 400px) 
    background-position: bottom, 100% 65%
    background-size: contain, auto calc(20px / 1.5)

.confirmation-popup.submit-email
  background-image: url(../img/images/register-background-bottom.png), url(../img/images/arrow-under-mail.png)
  background-position: bottom, 100% 50%
  background-repeat: no-repeat
  background-size: contain, auto calc(200px / 1.5)
  background-color: white

  @media (max-width: 450px) 
    background-position: bottom, 100% 70%
    background-size: contain, auto calc(180px / 1.5)
  @media (max-width: 400px) 
    background-size: contain, auto calc(170px / 1.5)



.confirmation-popup__content
  padding: calc(30px / 1.5);

.image-button 
  margin: 2em;

  img
    height: calc(150px / 1.5)

    @media (max-width: 400px) 
      height: calc(100px / 1.5)

  @media (max-width: 400px) 
    margin: calc(20px / 1.5) 0;

.additional-text
  color: #818181;
  margin: calc(30px / 1.5) 0;


.grey-btn,
.registration-type
  margin-top: calc(20px / 1.5)
  padding: calc(10px / 1.5) calc(20px / 1.5)

  border: none
  @media (max-width: 350px) 
    padding: calc(10px / 1.5)

.registration-type
  color: #E4EEFA
  border: calc(1px / 1.5) solid #282F39
  background-color: #282F39


.grey-btn
  color: #282F39
  background-color: #E4EEFA

.title-with-line
  display: table
  width: 100%

  font-size: 1.25em
  white-space: nowrap

  &:after 
    content: ''
    display: table-cell
    position: relative
    top: 1em
    left: 1.5%
    width: 90%

    border-top: calc(1px / 1.5) solid #cbcbcb

.title-with-line p:first-letter
  font-size: calc(36px / 1.5)
  font-weight: 600
  @media (max-width: 1260px)
    font-size: calc(22px / 1.5)

.confirmation-popup__brands-item
  margin-bottom: calc(20px / 1.5)

  background: #E4EEFA;
  border: calc(1px / 1.5) solid #DFDDDD;
  box-shadow: 0 calc(1px / 1.5) calc(1px / 1.5) #E4EEFA; 

.login-info-popup .brands-col__content 
  padding: calc(5px / 1.5)

.login-info-popup .brands-col__content .name
  margin: calc(0px / 1.5)

  white-space: normal
  font-size: 0.75em

.confirmation-popup .red-btn
  box-shadow: none
  padding: calc(10px / 1.5) calc(20px / 1.5)
  border: none

.right-align
  float: right;
  @media (max-width: 550px)
    float: none

.link-with-arrow img
  position: relative
  z-index: -1

  width: calc(50px / 1.5)
  margin-left: calc(20px / 1.5)

  vertical-align: text-top

.popup-input-form
  margin: 0 calc(40px / 1.5)
  @media (max-width: 400px)
    margin: 0 calc(20px / 1.5)

.popup-input-block
  position: relative

  margin: calc(20px / 1.5) 0

.popup-input 
  width: 100%;
  padding: calc(5px / 1.5)
  padding-right: calc(200px / 1.5)

  font-size: 1em
  line-height: 1.75em
  outline: none

  color: #666666
  border: calc(1px / 1.5) solid #DADADA
  @media (max-width: 500px)
    padding: calc(5px / 1.5)

.popup-input-block .red-btn
  position: absolute
  top: 0
  right: 0

  margin: 0
  height: 100%
  @media (max-width: 500px)
    position: relative
    margin: calc(10px / 1.5) 0


