.home-hero
  // height: 100vh
  padding-top: calc(120px / 1.5)
  padding-left: calc(20px / 1.5)
  padding-right: calc(20px / 1.5)
  box-sizing: border-box

  text-align: center

  background-color: #e4edfa

  @media screen and (max-width: 800px)
    padding-top: calc(50px / 1.5)
  @media screen and (max-width: 450px)
    padding-top: calc(30px / 1.5)
  // background-image: url('../img/images/home-hero.png')
  // background-position: left bottom
  // background-size: contain
  // background-repeat: no-repeat

  // @media screen and (min-width: 418px)
  //   height: 66vh

  // @media screen and (min-width: 580px)
  //   height: 100vh

  // @media screen and (min-width: 690px)
  //   background-position: left calc(100% + calc(60px / 1.5))

  // @media screen and (min-width: 800px)
  //   background-position: left calc(100% + calc(100px / 1.5))

  // @media screen and (min-width: 1190px)
  //   background-position: left calc(100% + calc(130px / 1.5))

  // @media screen and (min-width: 1400px)
  //   background-position: left calc(100% + calc(150px / 1.5))

.hero-title
  position: relative

  display: inline-block
  margin-bottom: calc(15px / 1.5)

  font-size: calc(34px / 1.5)
  font-weight: lighter

  @media screen and (min-width: 580px)
    font-size: calc(65px / 1.5)

  &:before
    content: ''
    position: absolute
    left: 0
    bottom: 0

    width: calc(43px / 1.5)
    height: calc(4px / 1.5)

    background-color: #f6395d

    @media screen and (min-width: 580px)
      width: calc(86px / 1.5)
      height: calc(8px / 1.5)


  span
    font-weight: bold

.subtitle
  font-size: calc(16px / 1.5)

  br
    display: none

    @media screen and (min-width: 630px)
      display: block

  @media screen and (min-width: 580px)
    font-size: calc(32px / 1.5)

.hero-search
  position: relative

  box-sizing: border-box
  display: inline-block
  width: 100%
  max-width: calc(1005px / 1.5)
  padding: calc(14px / 1.5)
  margin-top: calc(33px / 1.5)

  background-color: #e4edfa
  border: 1px solid rgba(159, 159, 159, 0.54)

  z-index: 1
  +br(calc(8px / 1.5))
  
  @media screen and (max-width: 450px)
    padding: calc(5px / 1.5);
  
  @media screen and (min-width: 600px)
    +br(calc(16px / 1.5))
  @media screen and (min-width: 850px)
    +br(calc(20px / 1.5))

  .search-input
    width: 100%
    height: calc(42px / 1.5)
    margin: 0
    padding-left: calc(60px / 1.5)

    text-align: left
    font-size: 1em;

    border: 1px solid #9f9f9f
    background: url(../img/icons/search-icon.png) no-repeat left white;
    background-size: calc(20px / 1.5) auto
    background-position: calc(20px / 1.5) center

    position: relative
    z-index: 3
    +br(calc(8px / 1.5))
    
    @media screen and (min-width: 580px)
      height: calc(82px / 1.5)
      padding-left: calc(74px / 1.5)
      background-size: auto
      +br(calc(16px / 1.5))
      
    @media screen and (min-width: 850px)
      +br(calc(20px / 1.5))
  .search-button
    position: absolute
    top: calc(14px / 1.5)
    right: calc(14px / 1.5)

    width: calc(70px / 1.5)
    height: calc(42px / 1.5)
    padding: 0
    padding-right: calc(5px / 1.5)

    font-size: calc(18px / 1.5)
    line-height: 0
    text-align: center
    color: #feccd6
    border: none
    outline: none
    appearance: none

    background-color: #f6395d
    cursor: pointer
    color: #ffffff
    border-top-right-radius: calc(8px / 1.5)
    border-bottom-right-radius: calc(8px / 1.5)

    z-index: 3
    cursor: pointer
    
    @media screen and (min-width: 580px)
      width: calc(100px / 1.5)
      height: calc(81px / 1.5)
      font-size: calc(25px / 1.5)
      border-top-right-radius: calc(16px / 1.5)
      border-bottom-right-radius: calc(16px / 1.5)

    @media screen and (min-width: 700px)
      width: calc(224px / 1.5)
      font-size: calc(30px / 1.5)
      
    @media screen and (min-width: 850px)
      border-top-right-radius: calc(20px / 1.5)
      border-bottom-right-radius: calc(20px / 1.5)
      
    @media screen and (max-width: 450px)
      top: calc(6px / 1.5)
      right: calc(6px / 1.5)
      font-size: calc(15px / 1.5)
      padding-right: calc(3px / 1.5)

    &:before
      line-height: calc(82px / 1.5)

      content: ""
      position: absolute
      left: calc(-18px / 1.5)
      top: 0
      border-left: calc(19px / 1.5) solid transparent
      border-bottom: calc(42px / 1.5) solid #f6395d
      height: calc(0px / 1.5)

      @media screen and (min-width: 580px)
        left: calc(-36px / 1.5); 
        border-bottom: calc(80px / 1.5) solid #f6395d; 
        border-left: calc(36px / 1.5) solid transparent;

      &__text
        position: absolute
        left: 50%
        transform: translateX(calc(-50% - calc(5px / 1.5)))
        @media screen and (min-width: 580px)
          transform: translateX(calc(-50% - calc(10px / 1.5)))


.hero-img
  margin: 0
  margin-top: 0

  @media screen and (min-width: 640px)
    margin-top: calc(-180px / 1.5)
  @media screen and (min-width: 1260px)
    margin-top: calc(-260px / 1.5)


.section-title
  position: relative

  display: inline-block
  margin-bottom: calc(15px / 1.5)

  font-size: calc(18px / 1.5)
  font-weight: lighter
  text-transform: uppercase

  @media screen and (min-width: 580px)
    font-size: calc(37px / 1.5)

  &:before
    content: ''
    position: absolute
    left: 0
    bottom: 0

    width: calc(39px / 1.5)
    height: calc(3px / 1.5)

    background-color: #f6395d

    @media screen and (min-width: 580px)
      width: calc(78px / 1.5)
      height: calc(5px / 1.5)


  span
    font-weight: bold

.section
  padding: calc(50px / 1.5) 0 calc(19px / 1.5)

  &--categories
    background-color: #f8f8f8

  &--categories-dark
    background-color: #dcdcdc

  @media screen and (min-width: 580px)
    padding: calc(50px / 1.5) 0 calc(38px / 1.5)

.solutions-categories
  margin-top: calc(45px / 1.5)

  @media screen and (min-width: 580px)
    margin-top: calc(40px / 1.5)

  @media screen and (min-width: 1020px)
    display: flex
    flex-direction: row
    flex-wrap: wrap
    // justify-content: space-around

.category-card
  position: relative

  box-sizing: border-box
  width: 100%
  max-width: calc(470px / 1.5)
  height: calc(330px / 1.5)
  overflow: hidden
  margin: 0 auto

  text-align: center

  border-radius: calc(13px / 1.5)
  border: 1px solid rgba(182, 178, 178, 0.54)
  background-color: #e4edfa
  box-shadow: calc(0px / 1.5) calc(4px / 1.5) calc(5px / 1.5) calc(0px / 1.5) rgba(82, 82, 82, 0.06);

  @media screen and (min-width: 580px)
    max-width: none
    width: calc(470px / 1.5)
    height: calc(429px / 1.5)

  // @media screen and (min-width: 980px)
  //   margin-left: 0
  //   margin-right: 0

  &:not(:last-child)
    margin-bottom: calc(32px / 1.5)

    @media screen and (min-width: 580px)
      margin-bottom: calc(64px / 1.5)

  img
    max-width: 100%
    height: auto

  &__text
    position: absolute
    bottom: 0
    left: 0

    box-sizing: border-box
    width: 100%
    padding: calc(20px / 1.5) calc(14px / 1.5) calc(20px / 1.5) calc(19px / 1.5)

    text-align: left

    background-color: #ffffff
    border-radius: calc(13px / 1.5)
    border: 1px solid rgba(204, 204, 204, 0.54);

    @media screen and (min-width: 580px)
      padding: calc(20px / 1.5) calc(28px / 1.5) calc(20px / 1.5) calc(37px / 1.5)

  &__tags
    display: none
    margin-bottom: calc(20px / 1.5)

    span
      display: inline-block
      padding: calc(5px / 1.5) calc(30px / 1.5)
      margin: calc(5px / 1.5)

      border: 1px solid black
      color: black
      border-radius: calc(20px / 1.5)

  .card-text__main
    position: relative

    span
      display: inline-block
      padding-right: calc(68px / 1.5)

      font-size: calc(19px / 1.5)
      color: #282f39

      &:first-letter
        font-weight: bold

      @media screen and (min-width: 580px)
        font-size: calc(38px / 1.5)

  &__link
    position: absolute

    display: inline-block
    width: calc(34px / 1.5)
    height: calc(34px / 1.5)
    right: 0
    top: 50%
    margin-top: calc(-17px / 1.5)

    background-color: #f6395d
    background-image: url('../img/images/badge.png')
    background-position: center center
    background-repeat: no-repeat
    background-size: calc(20px / 1.5)
    border-radius: 50%

    @media screen and (min-width: 580px)
      width: calc(68px / 1.5)
      height: calc(68px / 1.5)
      margin-top: calc(-34px / 1.5)

      background-size: 75%

a.categories-link
  display: inline-block
  margin-top: calc(35px / 1.5)

  font-size: calc(16px / 1.5)

  color: #4b86db
  text-decoration: underline

  @media screen and (min-width: 580px)
    margin-top: calc(70px / 1.5)

    font-size: calc(32px / 1.5)

.category-card--inverse
  background-color: #ffffff

  .category-card__text
    background-color: #e4edfa

.section--brands
  background-color: #efefef

.logo-slider-wrapper
  position: relative

  width: 100%
  height: calc(238px / 1.5)
  overflow: hidden

  &:before
    position: absolute
    left: 0
    top: 0
    width: calc(15px / 1.5)
    height: calc(238px / 1.5)
    z-index: 9

    background-image: url('../img/images/logo-slider-left-shadow.png')
    background-position center center
    background-repeat no-repeat

    content: ''

  &:after
    position: absolute
    right: 0
    top: 0
    width: calc(15px / 1.5)
    height: calc(238px / 1.5)
    z-index: 9

    background-image: url('../img/images/logo-slider-right-shadow.png')
    background-position center center
    background-repeat no-repeat

    content: ''

.logo-slider
  position: relative
  top: 50%
  width: calc(1824px / 1.5)
  margin-left: calc(-136px / 1.5)

  font-size: 0

  transform: translateY(-50%)

  li
    position: relative
    box-sizing: border-box
    display: inline-block

    width: calc(304px / 1.5)
    padding: 0 calc(34px / 1.5)

    vertical-align: middle

    &:not(:last-child):after
      position: absolute
      right: 0
      top: 50%
      margin-top: calc(-18px / 1.5)

      width: calc(3px / 1.5)
      height: calc(36px / 1.5)
      background-color: #575c63

      content: ''

  img
    width: calc(236px / 1.5)
