.name
    white-space: nowrap
    margin-bottom: calc(20px / 1.5)
    font-size: calc(17px / 1.5)
    
    @media (min-width: 1260px)
        font-size: calc(27px / 1.5)

    &:first-letter
        font-size: calc(20px / 1.5)
        font-weight: 600
        @media (min-width: 1260px)
            font-size: calc(33px / 1.5)
        
