.cover
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 9

  display: none

  background-color: rgba(40, 47, 57, 0.8)

.compare-popup
  position: fixed
  top: 50%
  left: 50%

  display: none
  width: 95%
  max-width: 1139px
  max-height: 100vh
  padding: 50px 90px 70px 80px
  z-index: 10
  overflow-y: auto
  box-sizing: border-box

  border: 1px solid rgb(88, 88, 88)
  border-radius: 50px
  background-color: rgba(255, 255, 255, 0.961)
  box-shadow: 0px 3px 16px 0px rgba(49, 56, 68, 0.29)

  transform: translate(-50%, -50%)

  @media (max-width: 650px) 
    padding: 20px

  &__header
    display: flex
    flex-direction: row
    flex-wrap: no-wrap
    align-items: center

    font-size: 35px

    @media (max-width: 570px)
      flex-direction: column

    img 
      @media (max-width: 850px)
        width: 150px
      @media (max-width: 400px)
        width: 100px
    p
      flex: 1
      padding-left: 55px

      @media (max-width: 1260px)
        font-size: 33px

      @media (max-width: 850px)
        font-size: 20px
      @media (max-width: 570px)
        padding-left: 0px

      span
        display: block

        font-size: 1.5em;
        font-weight: bold


  &__features
    margin-top: 38px

    h4
      font-size: 35px

      padding-bottom: 16px
      margin-bottom: 39px
      border-bottom: 1px solid #b9b9b9
      @media (max-width: 570px) 
        font-size: 25px

  &__feature
    display: flex
    flex-direction: row
    align-items: center

    &:not(:last-child)
      margin-bottom: 34px

    .feature-label
      flex-basis: 110px
      @media (max-width: 570px)
        flex-basis: 90px

  .feature-scale
    flex: 1

    padding: 0 22px
    @media (max-width: 570px)
      padding: 0 5px

    .feature-meter
      border-radius: 10px
      height: 45px

      overflow: hidden

      background-color: #dedede

    .feature-bar
      height: 45px

      &--features
        background-color: #ffd966
        width: 77%

      &--friendly
        background-color: #ffd966
        width: 60%

      &--price
        background-color: #f6395d
        width: 42%

      &--support
        background-color: #f6395d
        width: 32%

      &--overall
        background-color: #f6395d
        width: 32%

  .feature-up,
  .feature-down
    display: inline-block

    width: 45px
    height: 45px
    border-radius: 50%

    background-color: #282f39
    background-position: center center
    background-repeat: no-repeat

    cursor: pointer
    @media (max-width: 570px)
      width: 25px
      height: 25px
      background-size: 60%

  .feature-up
    background-image: url('../img/icons/feature-arrow-top.png')

  .feature-down
    background-image: url('../img/icons/feature-arrow-bottom.png')

.popup-close
  position: absolute
  top: 43px
  right: 44px

  width: 63px
  height: 63px

  background-image: url('../img/icons/close-popup-icon.png')
  background-position: center center
  background-repeat: no-repeat
  border: 1px solid rgb(162, 162, 162);
  background-color: rgb(246, 57, 93);
  border-radius: 50%

  cursor: pointer
  @media (max-width: 650px) 
    top: 21px
    right: 22px
    background-size: 50%
    width: 31px
    height: 31px



.popup-shown
  .cover,
  .compare-popup
    display: block

