.sector-block
    border-bottom: 1px solid #cbcbcb
    
    .sector
        white-space: nowrap
        margin-bottom: 20px
        font-size: 17px
        text-align: center

        a
            display: inline-block;
            background-color: transparent
            margin: 8px 0 !important
            padding: 5px 15px
            text-decoration: none;
            color: #282f39
            border: 1px solid #282f39;
            float: left
            width: 80px
            
            @media (max-width: 600px)
                padding: 5px
            @media (max-width: 360px)
                font-size: 13px
                
            &:hover, &.selected
                background-color: #E4EDFA

            &:last-child
                border-top-right-radius: 10px
                border-bottom-right-radius: 10px
          
            &:first-child
                border-top-left-radius: 10px
                border-bottom-left-radius: 10px
